<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.hektorks.user.common"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/UsersSelectionMapper.xml"/>
        <mapper resource="mappers/UsersModificationMapper.xml"/>
    </mappers>
</configuration>