<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hektorks.user.common.repository.mappers.UsersSelectionMapper">
    <resultMap id="UserResultMap" type="User">
        <result property="id" column="ID"/>
        <result property="firstName" column="FIRST_NAME"/>
        <result property="lastName" column="LAST_NAME"/>
        <result property="username" column="USERNAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phoneNumber" column="PHONE_NUMBER"/>
        <result property="countryCode" column="COUNTRY_CODE"/>
        <association property="encryptedPassword" resultMap="UserPasswordResultMap" javaType="EncryptedPassword"/>
    </resultMap>

    <resultMap id="UserPasswordResultMap" type="EncryptedPassword">
        <result property="password" column="PASSWORD"/>
        <result property="salt" column="SALT"/>
    </resultMap>

    <select id="selectUserById" parameterType="Integer" resultMap="UserResultMap">
        SELECT ID, FIRST_NAME, LAST_NAME, USERNAME, PASSWORD, SALT, EMAIL, PHONE_NUMBER, COUNTRY_CODE
        FROM USERS
        WHERE ID = #{id}
    </select>

    <select id="selectUserByUsername" parameterType="String" resultMap="UserResultMap">
        SELECT ID, FIRST_NAME, LAST_NAME, USERNAME, PASSWORD, SALT, EMAIL, PHONE_NUMBER, COUNTRY_CODE
        FROM USERS
        WHERE USERNAME = #{username}
    </select>

    <select id="countById" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM USERS
        WHERE ID = #{id}
    </select>

    <select id="countByUsername" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM USERS
        WHERE USERNAME = #{username}
    </select>

    <select id="countByEmail" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>
</mapper>